body {
  text-align: center;
  font-family: 'Oswald', serif;
}

img {
  max-width: 100%;
  height: auto;
}

.content-header {
  font-weight: bold;
  padding: 30px;
}

.jumbotron {
  background-image: url(../assets/backgrounds/h_img.jpg);
  height: 900px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  color: aliceblue;
}

.jumbotron-text {
  margin-top: 150px;
}

.jumbotron-text h1 {
  font-size: 50px;
}

.jumbotron-text img {
  padding: 50px;
}

#mouse-click {
  margin-top: auto;
  text-align: center;
  margin-bottom: 50px;
}

.about-sec {
  padding: 100px;
}

.services-sec {
  background-image: url(../assets/backgrounds/s_image.jpg);
  color: aliceblue;
  padding: 100px;
}

.whatwedo-sec {
  padding: 100px;
  text-align: center;
}

.design-text {
  display: none;
}

.development-text {
  display: none;
}

.product-text {
  display: none;
}

.content-body {
  justify-content: center;
}

.portfolio-sec {
  padding: 100px;
}

.col-3 {
  margin: 3px;
  display: flex;
}

/*CONTACT*/
.contact-sec {
  padding: 100px;
  height: 600px;
  background-image: url(../assets/backgrounds/c_image.jpg);
  color: aliceblue;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.form-inline {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

textarea {
  background: transparent;
}

/*FOOTER*/
.footer-sec {
  padding: 100px;
}

.social-ul {
  text-align: center;
  padding-left: 0;
}

.social-li {
  display: inline-block;
  list-style: none;
}